---
layout: base
---

<article class="news-article">
    <header class="article-header">
        <h1 class="article-title">{{ title }}</h1>
        <div class="article-meta">
            <time datetime="{{ post.date | date('%Y-%m-%d') }}">{{ post.date | date("%d %B, %Y") }}</time>
            {% if categories %}
            <span class="categories">
                {% for category in categories %}
                <a href="/tns2/categories/{{ category }}/" class="category-tag">{{ category }}</a>
                {% endfor %}
            </span>
            {% endif %}
        </div>
        {% if image %}
        <div class="article-image">
            <img src="{{ image }}" alt="{{ title }}">
        </div>
        {% endif %}
    </header>
    
    <div class="article-content">
        {{ content }}
    </div>
    
    <footer class="article-footer">
        <div class="share-buttons">
            <span>షేర్ చేయండి:</span>
            <a href="https://facebook.com/sharer/sharer.php?u={{ page.url | absoluteUrl | url_encode }}" target="_blank">Facebook</a>
            <a href="https://twitter.com/intent/tweet?text={{ title | url_encode }}&url={{ page.url | absoluteUrl | url_encode }}" target="_blank">Twitter</a>
            <a href="https://wa.me/?text={{ title | url_encode }}%20{{ page.url | absoluteUrl | url_encode }}" target="_blank">WhatsApp</a>
        </div>
    </footer>
</article>
